<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./public/stylesheet.css">
</head>
<body>
    <h1>This is my resister</h1>
<h2>register</h2>

<form action="/register" method="post">

    user name: <input type="text" name="uname">
    password: <input type="text" name="pass">
    <button>submit</button>

    <h4>not registerd. <a href="/">Login here</a></h4>
</form>


</body>
</html>